Source: plasma-browser-integration
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cmake (>= 2.8.12),
               dbus-x11,
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               libkf5activities-dev (>= 5.18.0~),
               libkf5i18n-dev (>= 5.18.0~),
               libkf5kio-dev (>= 5.18.0~),
               libkf5notifications-dev (>= 5.18.0~),
               libkf5runner-dev (>= 5.18.0~),
               libkf5windowsystem-dev (>= 5.18.0~),
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.4)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/khotkeys
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/khotkeys.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/khotkeys.git

Package: plasma-browser-integration
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chromium integration for Plasma
 Integrates Chromium browser with KDE Plasma desktop.
