Source: plasma-browser-integration
Section: kde
Priority: optional
Build-Depends: cmake (>= 3.0~),
               dbus-x11,
               debhelper (>= 11),
               extra-cmake-modules (>= 5.42.0~),
               libkf5activities-dev (>= 5.42.0~),
               libkf5config-dev (>= 5.42.0~),
               libkf5dbusaddons-dev (>= 5.42.0~),
               libkf5i18n-dev (>= 5.42.0~),
               libkf5kio-dev (>= 5.42.0~),
               libkf5notifications-dev (>= 5.42.0~),
               libkf5runner-dev (>= 5.42.0~),
               libkf5windowsystem-dev (>= 5.42.0~),
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.9.0~),
Standards-Version: 4.1.4
Homepage: https://www.kde.org/plasma-desktop.php
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/plasma-browser-integration.git
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/plasma-browser-integration
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Scarlett Clark <sgclark@kde.org>

Package: plasma-browser-integration
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chromium, Google Chrome, Firefox integration for Plasma
 Plasma Browser Integration is an extension for common browsers to closer fit into the Plasma shell. This includes:
    - Media Controls
        Lets you control video and audio players in websites using the Media Controller plasmoid, media keys on your
        keyboard, and even remotely from your phone.
    - Send links via KDE Connect
        Adds a context menu entry to links enabling you to send them to your phone and other paired devices.
    - Show downloads in and control them from Plasma’s notification area.
    - Find browser tabs in the Run Command (Alt-Space) window
        Make sure the "Browser Tabs" module is enabled in Plasma Search (KRunner) settings.
